.auth_main {
    width: 50%;
    display: flex;
    overflow: hidden;
}

.auth_image {
    flex:1;
    border-radius: 2rem 0 0 2rem;
    overflow: hidden;
}

.auth_form_main {
    flex:1;
    background-color: bisque;
    border-radius: 0 2rem 2rem 0;
    overflow: hidden;
}

.auth_form_main h1{
    text-align: center;
    padding-top: 2rem;
}

.auth_form_input{
    padding:1rem;
}

.auth_form_input label {
    font-weight: bold;
}

.push_down {
    margin-bottom: 1rem;
}

.auth_form_error {
    color:red;
    text-align: center;
}

.user_page_main {
    background-color: rgb(255, 251, 233);
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.user_greeting {
    font-size: 3rem;
    padding-top: 1rem;
}

.user_pending {
    border: 1px solid black;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    max-height: 50vh;
    overflow-y: auto;
}

.user_completed {
    border:1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    max-height: 50vh;
    overflow-y: auto;
}

thead th {
    border:2px solid black;
    text-align: center;
    height: 5vh;
}

tbody td {
    border:1px solid black;
    text-align: center;
}

table {
    width: 100%;
}

.usercart_item {
    width: 20%;
    text-align: right;
    padding: 1rem 1rem 1rem 0;
}