
.pagination_button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.7);
}

.pagination_button:disabled {
    background-color: rgba(0,0,0,0.3);
}